<div id="container">
  <mat-toolbar class="toolbar" *ngIf="user">
    <mat-toolbar-row style="height: 120px; border-bottom: 1px solid crimson;">
      <img [routerLink]="['/']" style="cursor: pointer;" width="200" alt="Angular Logo" src="../assets/images/logo.png" />
      <span class="spacer"></span>
      <div class="topnav">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']"
          >Dashboard</a
        >
        <a [routerLink]="['/orders']" [routerLinkActive]="['active']">Orders</a>
        <a [routerLink]="['/customer']" [routerLinkActive]="['active']"
          >Customer</a
        >
        <a [routerLink]="['/maps']" [routerLinkActive]="['active']">Maps</a>
      </div>
      <span class="spacer"></span>

      <mat-icon
        style="color: #d82121; margin-right: 20px; cursor: pointer;"
        matBadge="15"
        matBadgeColor="warn"
        >notification_important</mat-icon
      >

      <avatar [matMenuTriggerFor]="menu" [size]="35"></avatar>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          {{ user?.firstName }} {{ user?.lastName }}
        </button>
        <button mat-menu-item>Change Password</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card [ngClass]="[user ? 'card' : 'card-auth']">
    <mat-card-content>
      <router-outlet></router-outlet>
      <div class="footer" *ngIf="user">
        <div>
          &copy; Copyright TruckLoad.All rights reserved || Designed by
          ERA-InfoTech Limited.
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
