

.example-tooltip-green {
  background: #06a821;
}

.pp {
  background-color: white;
  height: 120px;
  padding: 10px;
  flex-basis: calc(33.33% - 10px);
  flex-shrink: 1;
  box-sizing: border-box;
  margin-top: 10px ;
  margin-right: 20px !important;
  margin-left: 25px !important;
  margin-bottom: 10px;
 // transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.btt {
  height: 26px;
}
