<h3 mat-dialog-title>Profile {{ data ? "Edit" : "Add" }}</h3>

<div mat-dialog-content>
  <mat-progress-bar
    *ngIf="asyncService?.isLoading | async"
    mode="indeterminate"
  >
  </mat-progress-bar>
  <form
    [id]="formId"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    novalidate
  >
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
      <div
        fxLayout="row wrap"
        fxLayoutGap="10px"
        fxFlex="100%"
        fxFlex.sm="50%"
        fxLayout.lt-sm="column"
        fxFlex.xs="100%"
        fxLayoutAlign="flex-start"
      >
        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            formControlName="name"
            required
          />
          <mat-error
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched)
            "
          >
            <ng-container *ngIf="name.hasError('required')"
              >Name is required.</ng-container
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Phone</mat-label>
          <input
            matInput
            placeholder="Phone"
            formControlName="phn"
            required
          />
          <mat-error
            *ngIf="
              phn.invalid &&
              (phn.dirty || phn.touched)
            "
          >
            <ng-container *ngIf="phn.hasError('required')"
              >Phone is required.</ng-container
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="
              email.invalid &&
              (email.dirty || email.touched)
            "
          >
            <ng-container *ngIf="email.hasError('required')"
              >Email is required.</ng-container
            >
            <ng-container *ngIf="email.hasError('email')"
              >Invalid Email address</ng-container
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Orientation</mat-label>
          <mat-select formControlName="orientation" required>
            <mat-option *ngFor="let orientation of orientations" [value]="orientation.value">
              {{ orientation.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              orientation.invalid &&
              (orientation.dirty || orientation.touched)
            "
          >
            <ng-container *ngIf="orientation.hasError('required')"
              >Orientation is required.</ng-container
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field
        fxFlex="0 1 calc(100% - 10px)"
        fxFlex.lt-md="0 1 calc(100% - 10px)"
        fxFlex.lt-sm="100%"
        fxFlex.xs="100%"
        appearance="fill"
      >
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            type.invalid &&
            (type.dirty || type.touched)
          "
        >
          <ng-container *ngIf="type.hasError('required')"
            >Type is required.</ng-container
          >
        </mat-error>
      </mat-form-field>
      </div>
    </div>
  </form>
</div>
<br />

<div mat-dialog-actions fxLayoutAlign="end end">
  <button type="button" class="mat-raised-button" [mat-dialog-close]>
    Cancel
  </button>
  <button
    [attr.form]="formId"
    type="submit"
    class="mat-raised-button mat-primary"
    [disabled]="asyncService?.isLoading | async"
  >
    Submit
  </button>
</div>
