h3{
  
  border: 1px;
  background-color:rgba(25, 189, 10, 0.836);
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  
  
}
.required {
  border-collapse: collapse;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border: 1px solid #cf0505;
  margin: 0 auto;
}
.confirmed {
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border: 1px solid #4caf50;
  margin: 0 auto;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.required th {
  background-color: #c40000;
  color: white;
}
.confirmed th {
  background-color: #4caf50;
  color: white;
}
