<h3 mat-dialog-title>
  Truck Add
</h3>

<div mat-dialog-content>
  <mat-progress-bar
    *ngIf="asyncService?.isLoading | async"
    mode="indeterminate"
  >
  </mat-progress-bar>
  <form
    [id]="formId"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    novalidate
  >
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
      <div
        fxLayout="row wrap"
        fxLayoutGap="10px"
        fxFlex="100%"
        fxFlex.sm="50%"
        fxLayout.lt-sm="column"
        fxFlex.xs="100%"
        fxLayoutAlign="flex-start"
      >
        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Truck Reg</mat-label>
          <input
            matInput
            placeholder="Customer"
            formControlName="truck_reg"
            required
          />
          <mat-error
            *ngIf="truck_reg.invalid && (truck_reg.dirty || truck_reg.touched)"
          >
            <ng-container *ngIf="truck_reg.hasError('required')"
              >Truck Reg is required.</ng-container
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Search Vendor</mat-label>
          <input
            matInput
            placeholder="Vendor Name | Phone"
            aria-label="State"
            [matAutocomplete]="auto"
            [formControl]="vendorControl"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onSelectvendor($event.option.value)"
          >
            <mat-option
              *ngFor="let state of filteredStates | async"
              [value]="state.vendor_id"
            >
              <img
                class="example-option-img"
                aria-hidden
                [src]="state.image_path"
                height="25"
              />
              <span>{{ state.name }}</span> |
              <small>Phone: {{ state.phn }}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Vendor phone</mat-label>
          <input
            matInput
            placeholder="vendor_phn"
            formControlName="vendor_phn"
            required
          />
          <mat-error
            *ngIf="
              vendor_phn.invalid && (vendor_phn.dirty || vendor_phn.touched)
            "
          >
            <ng-container *ngIf="vendor_phn.hasError('required')"
              >Vendor phone is required.</ng-container
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Capacity</mat-label>
          <mat-select formControlName="capacity" required>
            <mat-option
              *ngFor="let capacity of capacities"
              [value]="capacity.value"
            >
              {{ capacity.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)"
          >
            <ng-container *ngIf="capacity.hasError('required')"
              >Capacity is required.</ng-container
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" required>
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{ type.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="type.invalid && (type.dirty || type.touched)">
            <ng-container *ngIf="type.hasError('required')"
              >Type is required.</ng-container
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
          <mat-label>Device Id</mat-label>
          <input matInput placeholder="Device Id" formControlName="device_id" />
          <mat-error
            *ngIf="device_id.invalid && (device_id.dirty || device_id.touched)"
          >
            <ng-container *ngIf="device_id.hasError('required')"
              >Device Id is required.</ng-container
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<br />

<div mat-dialog-actions fxLayoutAlign="end end">
  <button type="button" class="mat-raised-button" [mat-dialog-close]>
    Cancel
  </button>
  <button
    [attr.form]="formId"
    type="submit"
    class="mat-raised-button mat-primary"
    [disabled]="asyncService?.isLoading | async"
  >
    Submit
  </button>
</div>
