<!-- Toolbar -->
<div class="toolbar" role="banner" *ngIf="user">
  <img width="200" alt="Angular Logo" src="../assets/images/logo.png" />
  <div class="spacer"></div>
  <div class="topnav">
    <a class="active" href="#home">Dashboard</a>
    <a href="#news">Orders</a>
    <a href="#contact">Customer</a>
    <a href="#about">Maps</a>
  </div>

  <div class="spacer"></div>
  <!-- <a *ngIf="user" id="twitter-logo" (click)="logout()"
    ><img
      width="40"
      height="40"
      src="https://img.pngio.com/cancel-close-exit-log-out-logout-session-terminate-icon-terminate-png-512_512.png"
  /></a> -->
  <avatar [matMenuTriggerFor]="auth" style="margin-right: 16px;"></avatar>
  <!-- <button mat-icon-button [matMenuTriggerFor]="auth">
    <mat-icon style="color: red;">person_outline</mat-icon>
  </button> -->
  <mat-menu #auth="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</div>


<router-outlet></router-outlet>
