h3{
  
  border: 1px;
  background-color: #4caf50;
  padding-bottom: 5px;
  font-weight: bold;
  color:white;
  
  
}
table {
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border: 1px solid #4caf50;
  margin: 0 auto;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: rgba(25, 189, 10, 0.836);
  color: white;
}
