<div fxLayout="column" fxLayoutAlign="space-around none" fxFlex="100%">


  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav mode="side" opened class="app-sidenav mat-elevation-z10">
      <!-- <section class = "tp-section1">
        <a>Overall</a>
     </section> -->
      <mat-toolbar class="tp-section1">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Overall</a>
      </mat-toolbar>
      <section class="tp-section">
        <a [routerLink]="['/dashboard/customer-dashboard']" [routerLinkActive]="['active']">
          <img src="../assets/images/company_photo/unilever.jpg" alt="my picture" height="128" width="128" />
        </a>
      </section>
      <section class="tp-section">
        <a [routerLink]="['/dashboard/customer-dashboard']" [routerLinkActive]="['active']">
          <img src="../assets/images/company_photo/nannuSpinningMills.jpg" alt="my picture" height="120" width="120" />
        </a>
      </section>
      <section class="tp-section">
        <a>
          <img src="../assets/images/company_photo/Kazi_Farms_Kitchen_logo.jpg" alt="my picture" height="120"
            width="120" />
        </a>
      </section>
      <section class="tp-section">
        <a>
          <img src="../assets/images/company_photo/steelTech.jpg" alt="my picture" height="120" width="120" />
        </a>
      </section>
      <!-- <section class = "tp-section">
      <a>
        <img src="../assets/images/company_photo/unilever.jpg"  alt="my picture"  />
      </a>
     </section> -->

    </mat-sidenav>
    <div class="app-sidenav-content">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around center">

      <div fxFlex="50%">
        <app-completed-trip></app-completed-trip>
      </div>
      <div fxFlex="50%">
        <app-gross-profit></app-gross-profit>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around center"
      style="margin-top: 10px;">
      <div fxFlex="50%">
        <app-trip></app-trip>
      </div>
      <div fxFlex="50%">
        <app-target-value></app-target-value>
      </div>
    </div>
</div>
  </mat-sidenav-container>
</div>